.header-container{
    align-items: center;
    border-bottom: 2px solid #fffafa;
    display: flex;
    justify-content: space-between;
    padding-bottom: 8px;
    width: 100%;

    h1{
        color: #000;
        font-size: 1.2rem;

        @media (min-width: 764px){
            font-size: 2.2rem;
        }
    }

    a{
        align-items: center;
        background-color: transparent;
        border: 1px solid #179947;
        border-radius: 8px;
        color: #179947;
        cursor: pointer;
        display: flex;
        font-family: 14px;
        gap: 8px;
        padding: 6px 8px;
        text-decoration: none;
        transition: all .5s ease;

        &:hover{
            background-color: rgb(22 163 74);
            color: #fff;
        }

        @media (min-width: 764px){
            font-size: 1rem;
            padding: 8px 16px;
        }
    }
}