@import "/src/util/mixins";

.header-container {
    @include flex-center;
    border-bottom: 2px solid #fffafa;
    justify-content: space-between;
    padding-bottom: 8px;
    width: 100%;

    h1 {
        color: #000;
        font-size: 1rem;

        @include respond-to {
            font-size: 2.2rem;
        }
    }

    .wrap {
        width: 35%;

        .search {
            width: 100%;
            position: relative;
            display: flex;

            input {
                @include w-h-full;
                border: 2px solid #333;
                border-right: none;
                font-size: 12px;
                padding: 3px 4px;
                border-radius: 5px 0 0 5px;
                outline: none;
                color: #000;

                @include respond-to {
                    font-size: 1rem;
                    padding: 6px 8px;
                }
            }

            .searchButton {
                @include flex-center;
                width: 30px;
                border: 1px solid #333;
                background: #333;
                color: #fff;
                justify-content: center;
                border-radius: 0 5px 5px 0;
                cursor: pointer;
                font-size: 20px;

                &:hover {
                    background-color: #000;
                    border-bottom: 1px solid #000;
                }

                svg {
                    height: 14px;
                    width: 14px;

                    @include respond-to {
                        height: 16px;
                        width: 16px;
                    }
                }
            }

            @include respond-to {
                width: 100%;
            }
        }

        @include respond-to {
            width: 30%;
        }
    }

    a {
        @include flex-center;
        background-color: transparent;
        border: 1px solid #179947;
        border-radius: 8px;
        color: #179947;
        content: "";
        cursor: pointer;
        font-family: 14px;
        gap: 8px;
        padding: 6px 8px;
        text-decoration: none;
        transition: all 0.5s ease;

        &:hover {
            background-color: rgb(22 163 74);
            color: #fff;
        }

        span {
            display: none;

            @include respond-to {
                display: block;
            }
        }

        @include respond-to {
            font-size: 1rem;
            padding: 8px 16px;
        }
    }
}
