.table-container{
    overflow-x: auto;
    width: 100%;

    .table{
        border-collapse: collapse;
        display: table;
        overflow-x: auto;
        position: relative;
        width: 100%;
    
        thead tr th{
            text-align: start;
            padding: 1rem;
        }
    
        thead tr:hover{
            background-color: rgba($color: #F5F5F5, $alpha: .5);
        }
    
        thead tr th{
            color: rgba($color: #000, $alpha: .7);
        }
    
        .container-empty{
            height: 50%;
            position: absolute;
            text-align: center;
            top: 15%;
            width: 100%;
    
            img{
                height: 100%;
                margin: 0 auto;
                width: 100%;
            }
    
            span{
                font-size: 1.5rem;
                font-weight: bold;
            }
        }
        tbody{
            height: auto;
        }
    }
    
    .table.false{
        height: 100%;
    }
}